.category{
    cursor: pointer;
    display: flex;
    position: relative;
}
.category-tooltipbox{
    position: absolute;
    top:35px;
    left:0px;
    z-index: 1;
    display: none;
    background-color: white;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
}
.category-name-deselected{
    width:120px;
    padding-left:12px;
    padding-right: 15px;
    padding-top:12px;
    padding-bottom: 12px;
    color: #919191;
    border-bottom: 1px solid transparent;
    border-bottom-color: rgba(0,0,0,0.4)
}

.category-name-selected{
    padding-left: 10px;
    padding-right: 15px;
    padding-top:7px;
    padding-bottom: 12px;
}

